/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    border: 0; 
    box-sizing: border-box;
}

/*Gen Style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Gen Project Style*/
    color: #000;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #000;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Navbar */

.active {
    text-decoration: underline;
    color: #000;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.bg-dark {
    background-color: #000;
    
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #000;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #000;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.collapse.show {
    display: block;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
}


/*Hero Image*/

#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url("images/hero-image.jpg");
    background-size: cover;
}

#welcome-text h1 {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    text-transform: uppercase
}

/*Main*/


button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

#info {
    text-align: center;
    background-color: #000;
    
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
    padding-top: 70px;
}

p
 {
    color: #fff;
    padding-bottom: 50px;
    
}

h2 {
    color:#fff
}

.left-section {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-section {
    width: 0%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-secondary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}


/*Gallery*/
.col-12 {
    padding: 0px;
}

#gallery-title {
    text-align: center;
    background-color: #000;
    font-size: 200%;
    margin: 0 auto;
    padding: 30px 0px 30px;
    width: 100%;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    background-color: #000;
}

#photos img {
    width: 100%;
}

          
/*Contact*/


.contact-image-outer {
    width: 100%;
    height: 450px;
}

    #hero-image-contact {
        height: 450px;
        width: 100%;
        background: url("/css/images/person&dog-image6.jpg") no-repeat center center;
        background-size: cover;
}

.form-container {
    height: 700px;
    width: 100%;
    background-color: #000;
    margin-bottom: 0%;
}

#form-title {
    text-align: center;
    font-size: 300%;
    margin: 5px;
    padding: 30px 0px 30px;
}

.row {
    margin-right: 0px;
}

.contact-form {
    background-color: #000;
    color:#fff;
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.submit-button {
    font-size: 35px;
    background-color: #000;
    color:#f50b0b;
    border-radius: 10px;
    font-weight: 300;
}

.submit-button:hover {
    background-color: #f50b0b;
    color: #fff;
    font-size: 35px;
}


/*Footer*/

#footer {
    height: 150px;
    color: #000;
    background-color: #000;
}

.socials {
    text-align: center;
    background-color: #000;
}

.socials li {
   display: inline; 
   
}

.socials i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #f50b0b;
}

/*Submit Form*/

.submit-page {
    background-color: #000;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
    color: #fff;
}

.submit-page h1 {
    color: #fff;
    background-color: #000;
    padding-bottom: 30px;
}

.submit p {
    color: #fff;
    background-color: #000;

}


/*Media: Tablets & Larger*/
@media screen and (min-width: 768px) 

    /*Header*/

nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
   
}

#menu {
    display:flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0.5rem;
}

/*Large Devices*/
@media screen and (min-width: 992px) 
    #menu a:hover {
    
}
